.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  width: 300px;
  height: auto;
  padding: 15px;
  border-radius: 10px;
  /* border: 1px solid #cccccc; */
  background-color: rgba(255, 255, 255, .6);
  margin: 10px;
  position: absolute;
  z-index: 100;
}

.cardImg {
  height: auto;
  width: 100%;
}

.cardImg img {
  width: 100%;
}

.card p {
  text-align: left;
}

.card button {
  background: none;
  box-shadow: none;
  border: none;
  cursor: pointer;
  color: #373671;
  transition: 0.2s;
}
.card button:hover {
  color: #7170b3;
  transition: 0.2s;
}

.card button:focus, .card button:active, .card button:visited {
  border: none;
  outline: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
